:root {
    --main-container-bs-color: hsl(240, 78%, 98%);
    --color1: hsl(234, 14%, 74%);
    --color2: hsl(233, 13%, 49%);
    --color3: hsl(232, 13%, 33%);
    --color4: hsl(236, 72%, 79%);
    --color5: hsl(237, 63%, 64%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
@media (min-width:376px) {
    .container {
        height: 100vh;
    }
}
.price-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 80%;
    background-image: url('./bg-top.svg'), url('./bg-bottom.svg');
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    background-color: var(--main-container-bs-color);
    padding: 3rem;
}
@media (max-width : 375px) {
    .price-cards-container {
        width: 90%;
    }
}
.toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 3rem;
}

.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
}
.month{
    margin: 25px;
}

/* Toggle Button  starts*/

input[type=checkbox]{
	visibility: hidden;
}

label {
	cursor: pointer;
	width: 50px;
	height: 29px;
	background: var(--color5);
	display: block;
	border-radius: 25px;
	position: relative;
}
label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: var(--color1);
	border-radius: 10px;
}

input:checked + label {
	background:var(--color5);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
/* Toggle Button Ends */ 

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    line-height: 3.5rem;
}
@media (min-width : 376px) {
    .cards-container {
        width: 80%;
        flex-direction: row;
    }
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px 5px #e3e5e8;
    padding: 2rem;
    margin-bottom: 2rem;
}
@media (min-width:376px) {
    .card {
        width: 30%;
        margin-bottom: 1rem;

    }
}
.card:hover{
    background-image: linear-gradient(var(--color4), var(--color5));  
    color: white;
    position: relative;
    margin-top: -2rem;
    margin-bottom: -2rem;
    
}
@media (max-width : 375px) {
    .card:hover{
        margin-top: 0px;
        margin-bottom: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }
}
.card:hover .btn {
    background-image: linear-gradient( white,white);
}
.price-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 26px;
}
.price{
    font-size: 42px;
    margin-left: 6px;
}
.border-bottom {
    padding-bottom: 12px;
    width: 100%;
    border-bottom: 0.1px inset black;
}
.btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid var(--color5);
    background-image: linear-gradient(var(--color4), var(--color5));  
    width: 100%;
}
.btn:hover{
    cursor: pointer;
}